.pais_lottery {
  direction: rtl;
  text-align: right;
}
.pais_lottery ul,
.pais_lottery ul li,
.pais_lottery ol,
.pais_lottery ol li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pais_lottery .c {
  clear: both;
}

/** BOX - SMALL - RESULTS **/
.pais_lottery.pais_lottery_box_small {
  text-align: center;
  background-color: white;
}
.pais_lottery.pais_lottery_box_small .lottery_heading {
  border: 1px solid #d3d6d5;
  border-bottom: none;
  padding-bottom: 10px;
  color: gray;
}
.pais_lottery.pais_lottery_box_small .lottery_heading h4 {
  font-size: 25px;
  line-height: 16px;
  margin: 20px 0 9px;
}
.pais_lottery.pais_lottery_box_small .lottery_heading .lottery_timer {
  width: 80%;
  margin: 0 auto;
}
.pais_lottery.pais_lottery_box_small
  .lottery_heading
  .lottery_timer
  ul.lottery_timer_header
  li,
.pais_lottery.pais_lottery_box_small
  .lottery_heading
  .lottery_timer
  ul.lottery_timer_countdown
  li {
  float: right;
  width: 32%;
}
.pais_lottery.pais_lottery_box_small
  .lottery_heading
  .lottery_timer
  ul.lottery_timer_header {
}
.pais_lottery.pais_lottery_box_small
  .lottery_heading
  .lottery_timer
  ul.lottery_timer_header
  li {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.pais_lottery.pais_lottery_box_small
  .lottery_heading
  .lottery_timer
  ul.lottery_timer_countdown {
}
.pais_lottery.pais_lottery_box_small
  .lottery_heading
  .lottery_timer
  ul.lottery_timer_countdown
  li {
  height: 36px;
  background-color: gray;
  padding: 6px 0 4px;
  margin: 0 1px;
  color: white;
  font-size: 24px;
  line-height: 24px;
}

.pais_lottery.pais_lottery_box_small .lottery_heading .lottery_timer {
}

.pais_lottery.pais_lottery_box_small .lottery_content {
  border: 18px solid gray;
  height: 236px;
}
.pais_lottery.pais_lottery_box_small .lottery_content h4 {
  margin: 14px 0 8px;
}
.pais_lottery.pais_lottery_box_small .lottery_content .lottery_numbers {
  margin: 8px 0;
}
.pais_lottery.pais_lottery_box_small .lottery_content .lottery_numbers ol {
  width: 88%;
  margin: 0 auto;
}
.pais_lottery.pais_lottery_box_small .lottery_content .lottery_numbers ol li {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 2px 2px;
  border-radius: 50%;
  background-color: gray;
  color: white;
  font-size: 12px;
  line-height: 24px;
}

.pais_lottery.pais_lottery_box_small .lottery_content .lottery_cards {
  margin: 8px 0;
}
.pais_lottery.pais_lottery_box_small .lottery_content .lottery_cards ol,
.pais_lottery.pais_lottery_box_small .lottery_content .lottery_cards ul {
  width: 88%;
  margin: 0 auto;
}
.pais_lottery.pais_lottery_box_small .lottery_content .lottery_cards ol li {
  display: inline-block;
  width: 24px;
  height: 34px;
  font-size: 14px;
  line-height: 24px;
  margin: 2px 10px;
  border: 1px solid gray;
  border-radius: 10%;
  color: white;
  background-color: #fff;
}
.pais_lottery.pais_lottery_box_small .lottery_content .lottery_cards ul {
  margin-top: -22px;
}
.pais_lottery.pais_lottery_box_small .lottery_content .lottery_cards ul li {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 14px;
  margin: 0 14px;
  border-radius: 50%;
  color: #fff;
  background-color: #009300;
}

.pais_lottery.pais_lottery_box_small .lottery_content .lottery_extra {
  margin-bottom: 8px;
}

.pais_lottery.pais_lottery_box_small.lottery_results.pais_lotto
  .lottery_heading
  .lottery_timer
  ul.lottery_timer_countdown
  li {
  background-color: #dd1f2e;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_lotto
  .lottery_heading
  h4 {
  color: #dd1f2e;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_lotto
  .lottery_content {
  border-color: #dd1f2e;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_lotto
  .lottery_content
  .lottery_numbers
  ol
  li {
  background-color: #dd1f2e;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_lotto
  .lottery_content
  .lottery_numbers
  ol
  li:last-child {
  background-color: #1141a0;
}

.pais_lottery.pais_lottery_box_small.lottery_results.pais_chance
  .lottery_heading
  .lottery_timer
  ul.lottery_timer_countdown
  li {
  background-color: #28bb03;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_chance
  .lottery_heading
  h4 {
  color: #28bb03;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_chance
  .lottery_content {
  border-color: #28bb03;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_chance
  .lottery_content
  .lottery_numbers
  ol
  li {
  background-color: #28bb03;
}

.pais_lottery.pais_lottery_box_small.lottery_results.pais_777
  .lottery_heading
  .lottery_timer
  ul.lottery_timer_countdown
  li {
  background-color: #9c04bc;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_777
  .lottery_heading
  h4 {
  color: #9c04bc;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_777 .lottery_content {
  border-color: #9c04bc;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_777
  .lottery_content
  .lottery_numbers
  ol
  li {
  background-color: #9c04bc;
}

.pais_lottery.pais_lottery_box_small.lottery_results.pais_123
  .lottery_heading
  .lottery_timer
  ul.lottery_timer_countdown
  li {
  background-color: #00aeef;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_123
  .lottery_heading
  h4 {
  color: #00aeef;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_123 .lottery_content {
  border-color: #00aeef;
}
.pais_lottery.pais_lottery_box_small.lottery_results.pais_123
  .lottery_content
  .lottery_numbers
  ol
  li {
  background-color: #00aeef;
}

/** BOX - LARGE - STATISTICS **/
.pais_lottery.pais_lottery_box_large {
  background-color: white;
  padding: 0 14px 10px;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics .lottery_content h4 {
  font-size: 25px;
  line-height: 16px;
  padding: 14px 0 9px;
  color: gray;
  margin: 0;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics
  .lottery_content
  h4
  span {
  font-size: 14px;
  color: black;
}

.pais_lottery.pais_lottery_box_large.lottery_statistics .lottery_content {
  margin-left: 5px;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics .lottery_content ol li {
  background-color: #ececec;
  float: right;
  width: 33%;
  margin: 0 0 1% 1%;
  padding: 6px;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics
  .lottery_content
  ol
  li
  strong {
  display: inline-block;
  width: 28px;
  height: 28px;
  font-size: 16px;
  line-height: 28px;
  background-color: gray;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics
  .lottery_content
  ol
  li
  span {
  color: black;
  font-size: 16px;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics
  .lottery_content
  ol
  li
  span
  em {
  font-weight: bold;
  font-style: normal;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics
  .lottery_content
  ol
  li:nth-child(3n + 3) {
  margin-left: 0;
  width: 32%;
}

.pais_lottery.pais_lottery_box_large.lottery_statistics
  .lottery_content
  h4.lottery_numbers_secondary {
  color: #93d7fe !important;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics
  .lottery_content
  .lottery_numbers_secondary.clottery_numbers_hotstrong
  ol
  li
  strong {
  background-color: #93d7fe;
  color: #000;
}

.pais_lottery.pais_lottery_box_large.lottery_statistics .lottery_content table {
}
.pais_lottery.pais_lottery_box_large.lottery_statistics
  .lottery_content
  table
  thead
  th {
  font-size: 40px;
  line-height: 40px;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics
  .lottery_content
  table
  thead
  th:first-child {
  border: none;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics
  .lottery_content
  table
  tbody
  tr
  td {
  text-align: center;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics
  .lottery_content
  table
  tbody
  tr
  td:first-child {
  text-align: right;
}

.pais_lottery.pais_lottery_box_large.lottery_statistics.pais_lotto
  .lottery_content
  h4 {
  color: #dd1f2e;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics.pais_lotto
  .lottery_content
  ol
  li
  strong {
  background-color: #dd1f2e;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics.pais_chance
  .lottery_content
  h4 {
  color: #28bb03;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics.pais_chance
  .lottery_content
  ol
  li
  strong {
  background-color: #28bb03;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics.pais_777
  .lottery_content
  h4 {
  color: #9c04bc;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics.pais_777
  .lottery_content
  ol
  li
  strong {
  background-color: #9c04bc;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics.pais_123
  .lottery_content
  h4 {
  color: #00aeef;
}
.pais_lottery.pais_lottery_box_large.lottery_statistics.pais_123
  .lottery_content
  ol
  li
  strong {
  background-color: #00aeef;
}

/** BOX STATISTICS - ALL **/
.pais_lottery.pais_lottery_statistics {
}
.pais_lottery.pais_lottery_statistics .lottery_statistics_tabs {
  background-color: silver;
  border-radius: 8px 8px 0 0;
}
.pais_lottery.pais_lottery_statistics .lottery_statistics_tabs ul li {
  display: inline-block;
  width: 25%;
  text-align: center;
  border-bottom: 1px solid gray;
}
.pais_lottery.pais_lottery_statistics .lottery_statistics_tabs ul li strong {
  display: block;
  position: relative;
}
.pais_lottery.pais_lottery_statistics .lottery_statistics_tabs ul li strong a {
  text-decoration: none;
  padding: 8px 0;
  display: block;
  position: relative;
}
.pais_lottery.pais_lottery_statistics
  .lottery_statistics_tabs
  ul
  li
  strong
  a:hover {
  text-decoration: none;
}
.pais_lottery.pais_lottery_statistics
  .lottery_statistics_tabs
  ul
  li
  strong
  a:active,
.pais_lottery.pais_lottery_statistics .lottery_statistics_tabs ul li a:focus {
  text-decoration: none;
  background-color: transparent;
}
.pais_lottery.pais_lottery_statistics
  .lottery_statistics_tabs
  ul
  li.lottery_current {
  border-bottom: none;
}
.pais_lottery.pais_lottery_statistics
  .lottery_statistics_tabs
  ul
  li.lottery_current
  strong {
  font-weight: bold;
  bottom: -1px;
  background-color: white;
}
.pais_lottery.pais_lottery_statistics
  .lottery_statistics_tabs
  ul
  li.lottery_current
  strong
  a {
  top: -1px;
}
.pais_lottery.pais_lottery_statistics
  .lottery_statistics_tabs
  ul
  li.lottery_current:first-child
  strong {
  border-radius: 0 8px 0 0;
}
.pais_lottery.pais_lottery_statistics
  .lottery_statistics_tabs
  ul
  li.lottery_current:last-child
  strong {
  border-radius: 8px 0 0 0;
}

.pais_lottery.pais_lottery_statistics .lottery_statistics_content {
}
.pais_lottery.pais_lottery_statistics
  .lottery_statistics_content
  .pais_lottery_statistics_source {
  display: none;
}
.pais_lottery.pais_lottery_statistics
  .lottery_statistics_content
  .pais_lottery_statistics_source.lottery_current {
  display: block;
}

/** tofes yashir **/
.pais_lottery.lottery_statistics.tofesyashir_chance
  .lottery_tofes_yashir_statistics
  h5 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}
.pais_lottery.lottery_statistics.tofesyashir_chance
  .lottery_tofes_yashir_statistics
  small {
  font-size: 8px;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .Ale_7 {
  float: right;
  width: 85%;
}

.pais_lottery.lottery_statistics.tofesyashir_chance .Ale_jumps {
  border: 1px solid green;
  border-left: none;
  border-bottom: none;
  float: right;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .Lev_jumps {
  border: 1px solid green;
  border-left: none;
  border-bottom: none;
  float: right;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .Yhalom_jumps {
  border: 1px solid green;
  border-left: none;
  border-bottom: none;
  float: right;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .Tiltan_jumps {
  border: 1px solid green;
  border-left: none;
  border-bottom: none;
  float: right;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .jump_titels {
  float: right;
  width: 15%;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .jump_num_card {
  float: right;
  border-left: none;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid green;
  padding: 21px 0 21px;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .jump_num {
  float: right;
  border-left: none;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid green;
  padding-top: 5px;
  height: 32px;
  font-size: 10px;
  line-height: 25px;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .jump_values {
  float: right;
  width: auto;
  border-left: 1px solid green;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .the_card_all {
  float: right;
  width: 12.5%;
  border-right: 1px solid #fff;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .the_card_title {
  float: right;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid green;
  padding: 49px 0 2px;
  border-left: none;
  background: url(../images/chanceresuleballs.jpg) center right/200% 200%
    no-repeat;
  color: #fff;
  font-size: 14px;
  background-size: 375%;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .Lev_jumps .the_card_title {
  background-position: -62px;
}
.pais_lottery.lottery_statistics.tofesyashir_chance
  .Yhalom_jumps
  .the_card_title {
  background-position: -124px;
}
.pais_lottery.lottery_statistics.tofesyashir_chance
  .Tiltan_jumps
  .the_card_title {
  background-position: -184px;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .color_green {
  color: #fff;
  background: #61c419;
  float: right;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid green;
  padding: 3px 0px 3px 0px;
  font-size: 17px;
  border-left: none;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .color_orange {
  float: right;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid green;
  padding: 3px 0px 3px 0px;
  background: orange;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  border-left: none;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .color_red {
  float: right;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid green;
  padding: 3px 0px 3px 0px;
  background: red;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  border-left: none;
}
.pais_lottery.lottery_statistics.tofesyashir_chance .the_explian {
  color: blue;
  text-decoration: underline;
  float: left;
  margin: 21px 0px 0px 11px;
  cursor: pointer;
}
.pais_lottery.lottery_statistics.tofesyashir_chance
  .the_explian
  .the_explain_link {
  position: absolute;
  display: block;
  background: url("../images/explain.png") no-repeat;
  background-size: 100%;
  width: 200px;
  height: 99px;
  margin: 0px -145px 0px 0px;
  text-align: center;
  padding: 46px 15px 0px 15px;
  color: #000;
  font-size: 16px;
}

/** proper icons for chance **/

.pais_lottery.lottery_statistics.tofesyashir_chance .the_card_title {
	background: none;
	padding: 10px 0 5px;
}

.pais_lottery.lottery_statistics.tofesyashir_chance .brd {
	width: 80%;
	margin: 0 auto;
	border: 2px solid gray;
	border-radius: 10px;
}

.pais_lottery.lottery_statistics.tofesyashir_chance .brd .icon {
	height: 30px;
	width: 24px;
	margin: 0 auto 2px;
	background: url(../images/chanceresuleballs-nobg.gif) no-repeat;
}

.pais_lottery.lottery_statistics.tofesyashir_chance .brd span {
	color: white;
	background-image: linear-gradient(180deg, #fa7901, #3c1453);
	display: block;
	border-radius: 0 0 7px 7px;
}

.pais_lottery.lottery_statistics.tofesyashir_chance .Ale_jumps .brd .icon {
	background-position: -9px 0;
}

.pais_lottery.lottery_statistics.tofesyashir_chance .Lev_jumps .brd .icon {
	background-position: -72px 0;
}

.pais_lottery.lottery_statistics.tofesyashir_chance .Yhalom_jumps .brd .icon {
	background-position: -134px 0;
}

.pais_lottery.lottery_statistics.tofesyashir_chance .Tiltan_jumps .brd .icon {
	background-position: -197px 0;
}
